# --- Streamlit Waste Management App dependencies ---

# Core packages
streamlit>=1.27.0
pandas>=2.0.3
numpy>=1.26.0
scikit-learn
opencv-python-headless
Pillow
joblib

# Email + utility
email-validator
setuptools>=65.0.0
